.gallery {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  gap: 20px;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.gallery__item {
  width: 360px;
   overflow: hidden;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.gallery__item img {
  width: 360px;
  height: 200px;
  object-fit: cover;
  display: block;
}

.info {
  padding: 8px 12px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 6px;
  background: #fff;
  font-size: 14px;
}

.is-hidden {
  display: none ;
}

.loader {
  width: 42px;
  height: 42px;
  border: 6px solid #ccc;
  border-top-color: red;
  border-radius: 50%;
  animation: rotation 1s linear infinite;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 9999;
}


@keyframes rotation {
  from { transform: translate(-50%, -50%) rotate(0deg); }
  to { transform: translate(-50%, -50%) rotate(360deg); }
}